* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #444;
	text-align: center;
	line-height: 1.5;
}

nav,
footer {
	padding: 1% 0;
	background-color: #aaa;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

/*Titles*/
.home-page-title,
.end-message,
.game-instructions,
.input-instructions {
	margin-top: 10vh;
}

.game-container {
	margin-top: 5rem;
}

.list-of-games {
	border: 2px solid black;
	font-size: 18px;
	text-align: left;
	padding-left: 0.4rem;
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
}

.create-game-button {
	margin: 4rem;
	color: brown;
}

.input-container {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 5px;
}

.input-box {
	border: 2px solid purple;
	height: 60vh;
	text-align: left;
	padding-left: 0.4em;
	font-size: 20px;
	padding-bottom: 55vh;
	flex-grow: 2;
}

.preview-box {
	border: 2px solid purple;
	height: 60vh;
	flex-grow: 5;
}

.submit-button-container {
	margin-left: auto;
	margin-right: auto;
}

.submit-input,
.submit-cancel {
	margin: 5px;
	height: 5vh;
	font-size: 1.5rem;
	border: 2px solid black;
}

.ready-message,
.pass-the-ball {
	margin-top: 20vh;
}

img {
	height: 20vh;
}

.scrambled-word {
	font-family: 'Arial Black', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 50px;
	font-style: bolder;
}

.game-controls {
	display: flex;
	justify-content: space-around;
}

.form {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	height: fit-content;
	width: 50vw;
}

.form-tab,
.input-submit-button {
	list-style: none;
	display: inline-block;
	padding: 10px;
	border: 2px solid black;
	margin: 10px;
	font-size: 30px;
}

ul {
	padding: 0px;
}

.form-input {
	margin-left: auto;
	margin-right: auto;
	height: 5vh;
	width: 30vw;
	margin: 10px;
	font-size: 26px;
	padding: 0.4rem;
}

a {
	text-decoration: none;
}

@media screen and (min-width: 767px) {
	.input-container {
		flex-direction: row;
	}

	.submit-input,
	.submit-cancel {
		width: 10vw;
	}

	.scrambled-word {
		font-size: 100px;
	}
}
